doctype
html
  head
    meta(charset="utf-8")
    meta(http-equiv="x-ua-compatible" content="ie=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")

    title SUSE-frontend-challenge
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.css")
  body
    block content
    footer.footer
      .container
        .content
          p Copyright 2018 Joel Wallis Jucá
    script(defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js")
