section.hero.is-primary.is-bold
  .hero-body
    .container
      h1.title
        a(href="/") SUSE Frontend Challenge
      p.subtitle
        | by <a href="http://joelwallis.com">Joel Wallis Jucá</a>
