@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400|Roboto:300,400,700');

html, body {
  font-family: 'Roboto', sans-serif;
  height: 100%;
}

.list-group-item-title, .card-title {
  font-family: 'Roboto Condensed', sans-serif;
}

#machine-list .list-group-item:focus {
  outline: 0;
}
#machine-list .list-group-item.active {
  background-color: #f5f5f5;
  color: #495057;
  border-color: rgba(0,0,0,.25);
}

#pagination .btn-link:hover,
#pagination .btn-link:focus {
  text-decoration: none;
  background-color: #f8f9fa;
}
#pagination .btn-link:disabled:hover,
#pagination .btn-link:disabled:focus {
  background-color: transparent;
}
